---
title: Daftar Kelasnya
layout: default
bodyClass: "page-contact"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="col-12 mb-1">
        <div class="row justify-content-start content">
            <h2 class="white mt-5 mt-lg-2 strong mb-0">Kemang, 11 Des 2025 (Pagi)</h2> 
            <p class="grey mt-1 mb-0">Klik gambar di bawah untuk ke halaman pendaftaran</p>
            <a href="https://www.goersapp.com/events/merdeka-finansial-kemang-11-des-25--merdeka3" class="booking-poster-link"><img src="/images/training/poster/Merdeka Finansial Kemang 11 Des 2025.jpeg" alt="Training Merdeka Finansial, Kemang, 11 Des 2025 (9:30-11:30)" class="img-fluid"></a>
        </div>
    </div>
</div>
