---
title: Daftar Kelasnya
layout: default
bodyClass: "page-contact"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12">
            <p>Kontak sosial media kami (ada di footer bawah), jika ingin ada sesi Merdeka Finansial di tempat atau waktu tertentu.</p> 
            <div class="booking-iframe-wrapper">
                <iframe src="https://www.goersapp.com/events/merdeka-finansial-kemang-11-des-25--merdeka3" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
