---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-7 order-2 order-md-1 m-auto">
        {{ content }}
        <div>
          <p>Experience a professional 2,5 hours training on personal bitcoin treasury, with exams and certification you won’t find in self-learning.<p>
        </div>
        <div class="cta">
          <div class="call-box-top">
            <a href="https://goers.co/merdeka1" class="button">Register for the Next Class</a>
          </div>
        </div>
        <p>
          Scroll down to learn more about the training.
         </p>
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-5 order-1 order-md-2 position-relative m-auto">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="strip-navy">
  <div class="container pt-6">
    <div class="row justify-content-start">
      <div class="col-12 mb-1">
        <div class="row justify-content-start content">
          <span>...</span>
          <h2 class="mb-0">The Upcoming Class</h2>
          <h4>Jakarta, 16 October 2025. 09:00 - 11:30 WIB</h4>
          <img class="img-fluid" alt="Hands-on Experience" style="max-width: 700px; display: block; margin: 0 auto;" src="{{"images/training/poster/merdeka-sovereignplaza-16-okt.jpeg" | relative_url }}" />
          <div class="cta" style="display: block; text-align: center;">
            <div class="call-box-top text-center mt-3" style="float: none;">
           <a href="https://goers.co/merdeka1" class="button">Register for the Next Class</a>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="strip-navy">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      <div class="col-12 mb-1">
        <div class="row justify-content-start content">
          <span>...</span>
          <h2>Three Key Takeaways</h2>
          <div class="feature-container mt-4 mb-4">
            <div class="feature">
              <div class="row justify-content-start">
                <div class="col-12 col-md-4 mb-1">
                    <div class="row justify-content-start service">
                      <div class="col-12 col-md-12 mb-1">
                        <h4 class="mt-1">1.<br>Within 5-15 Years, Our Money Will Be Either Changed or Worthless.<br></h4>
                        <p class="service-excerpt">Few realize it yet — but inflation and government debt are accelerating. The problem can’t be fixed, because it’s rooted in how money is created. Until that changes, your financial wellbeing will remain at risk — a growing risk. Even traditional assets like stocks and bonds won’t be safe.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 mb-1">
                    <div class="row justify-content-start service">
                      <div class="col-12 col-md-12 mb-1">
                        <h4 class="mt-1">2.<br>The U.S. Dollar Issuer Believes Bitcoin Can Solve the Debt Issue — What Does That Tell You?</h4>
                        <p class="service-excerpt">Now that we understand the problem, let’s look for the solution. Why bitcoin — not the Euro, the Chinese Yuan, or even gold? Once we see the logic of why only bitcoin can truly fix the system, we can begin to project how valuable it could become. Is it high enough to help you achieve financial sovereignty?</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 mb-1">
                    <div class="row justify-content-start service">
                      <div class="col-12 col-md-12 mb-1">
                        <h4 class="mt-1">3.<br>Strategies and Risk Mitigation for Accumulating Bitcoin Toward Financial Sovereignty.</h4>
                        <p class="service-excerpt">We’ll estimate how much bitcoin you need to stop worrying about money by 2035. But that’s not all — we’ll also unpack key risks in the bitcoin space: bull run FOMO, exchange custody, self-custody mistakes, and crypto gambling. Expect plenty of live demos and open discussion.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 mb-1">
                    <p>All of those in just 2 hours.
                    </p>
                      <p>
                        Your busy schedule shouldn’t stop you from learning about<br>one of the biggest shifts in human history.</p>
                    <a href="https://goers.co/merdeka1" class="button">Register for Upcoming Classes (Details Inside)</a>
                </div>
              </div>
            </div>
          </div>

          <span>...</span>
          <h2>We Teach Bitcoin Treasury, Not Bitcoin Trading.</h2>
          <p>Bitcoin treasury is much like the gold treasury your parents or grandparents once held.</p>
          <div class="col-12 col-md-6 mb-1">
            <h3>What Most People Do (Trading)</h3>
            <div class="dont">
              <ul>
                <li>View bitcoin as a speculative investment.</li>
                <li>Gamble with the price movement.</li>
                <li>Sell it to buy luxury item.</li>
                <li>Leave it on the exchange.</li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-6 mb-1">
            <h3>Bitcoin Treasury</h3>
            <div class="do">
              <ul>
                <li>View bitcoin as a savings tool.</li>
                <li>Accumulate with discipline.</li>
                <li>Sell only when necessary.</li>
                <li>Secure it properly.</li>
              </ul>
            </div>
          </div>
<!--
          <span>...</span>

          <h2>Certified Bitcoin Treasurer I</h2>

          <div class="container">
            <div class="row">
              <div class="col-sm">
                <img alt="certificate example" class="" src="{{ "/images/training/CBT I certificate example.jpeg" | relative_url }}" />                    
                <h4>What do the questions cover?</h4>
                <ul>
                  <li>The pressing crisis in today’s financial system,</li>
                  <li>Bitcoin as the only viable solution,</li>
                  <li>Treasury vs. trading,</li>
                  <li>Ramping options,</li>
                  <li>Custodial options and their risks,</li>
                  <li>Predicting the best time to sell&mdash;if needed,</li>
                  <li>Identify the time to accumulate less,</li>
                  <li>Tax and accounting for both individuals and organizations.</li>
                </ul>
              </div>
              <div class="col-sm">
                <img alt="certificate example" class="" src="{{ "/images/training/ricky-cbt-4.JPG" | relative_url }}" />
                <h4>How legit is the issuer?</h4>
                <ul>
                  <li>FYI: Bitcoin is an open technology — no organization controls its knowledge.</li>
                  <li>Our founder has been using bitcoin since 2013 and is internationally certified in bitcoin (₿-CERT).</li>
                  <li>Ricky, our principal trainer, is a respected figure in the Bitcoin Indonesia community — hosting their first monthly meetup and currently leading the Jakarta chapter.</li>
                </ul>
              </div>
            </div>
          </div> 

          -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="strip-navy-dark">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row content justify-content-start">
      <div class="col-12 mb-1">
          <span>...</span>
          <h2>Gallery</h2>
          <div class="row justify-content-start">
              <div class="image-gallery col-12 col-md-4 mb-1">
                <img alt="training snapshot" class="img-fluid" src="{{ "/images/training/ricky-merdeka1-3.jpeg" | relative_url }}" />
              </div>
              <div class="image-gallery col-12 col-md-4 mb-1">
                <img alt="training snapshot" class="img-fluid" src="{{ "/images/training/ricky-merdeka1-1.jpeg" | relative_url }}" />
              </div>
              <div class="image-gallery col-12 col-md-4 mb-1">
                <img alt="training snapshot" class="img-fluid" src="{{ "/images/training/ricky-merdeka1-2.jpeg" | relative_url }}" />
              </div>
              <div class="image-gallery col-12 col-md-4 mb-1">
                <img alt="training snapshot" class="img-fluid" src="{{ "/images/training/ricky-cbt-1.jpeg" | relative_url }}" />
              </div>
              <div class="image-gallery col-12 col-md-4 mb-1">
                <img alt="training snapshot" class="img-fluid" src="{{ "/images/training/ricky-cbt-2.jpeg" | relative_url }}" />
              </div>
              <div class="image-gallery col-12 col-md-4 mb-1">
                <img alt="training snapshot" class="img-fluid" src="{{ "/images/training/ricky-cbt-3.jpeg" | relative_url }}" />
              </div>
          </div>
          <div class="cta mt-4">
            <div class="call-box-top">
              <a href="https://goers.co/merdeka1" class="button">Register for the Upcoming Class</a>
            </div>
          </div>
      </div>
    </div>
  </div>
 </div>
