---
layout: default
bodyClass: "page-home"
---


<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-lg-7 m-auto">
        {{ content }}
        <div class="cta mb-2">
          <div class="call-box-top">
            <a href="https://wa.me/6289678601060" class="button">Daftar Kelasnya</a>
          </div>
        </div>
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-5 order-1 order-md-2 position-relative m-auto">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="strip-navy-dark">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row content justify-content-start">
      <div class="col-12 mb-1">
        <span>...</span>
        <h2>Galeri Foto Kegiatan</h2>
        <div class="row justify-content-start">
            <div class="image-gallery col-12 col-md-4 mb-1">
              <img alt="training snapshot" class="img-fluid" src="{{ "/images/training/merdeka2-1.jpeg" | relative_url }}" />
            </div>
            <div class="image-gallery col-12 col-md-4 mb-1">
              <img alt="training snapshot" class="img-fluid" src="{{ "/images/training/ricky-merdeka1-1.jpeg" | relative_url }}" />
            </div>
            <div class="image-gallery col-12 col-md-4 mb-1">
              <img alt="training snapshot" class="img-fluid" src="{{ "/images/training/ricky-merdeka1-2.jpeg" | relative_url }}" />
            </div>
            <div class="image-gallery col-12 col-md-4 mb-1">
              <img alt="training snapshot" class="img-fluid" src="{{ "/images/training/ricky-cbt-1.jpeg" | relative_url }}" />
            </div>
            <div class="image-gallery col-12 col-md-4 mb-1">
              <img alt="training snapshot" class="img-fluid" src="{{ "/images/training/ricky-cbt-2.jpeg" | relative_url }}" />
            </div>
            <div class="image-gallery col-12 col-md-4 mb-1">
              <img alt="training snapshot" class="img-fluid" src="{{ "/images/training/ricky-cbt-3.jpeg" | relative_url }}" />
            </div>
        </div>
        <div class="cta mb-4">
          <div class="call-box-top">
            <a href="https://wa.me/6289678601060" class="button">Daftar Kelasnya</a>
          </div>
        </div>
        <div class="col-12 mb-1">
          <span>...</span>
          <p>
            Sangat ramah bagi pemula – cocok untuk peserta yang bahkan belum pernah mendengar tentang bitcoin.
          </p>
          <p>
            Kelasnya kecil (maksimal 6 peserta) dan hanya berlangsung selama dua jam.
          </p>
          <p>
            Hanya dalam format tatap muka. Karena dua hal: (1) Pelatihan ini minim ceramah dan banyak aktivitas peserta, (2) Mempelajari bitcoin dan alasan diciptakannya memerlukan banyak proses <em>unlearning</em>. Berdasarkan pengalaman kami, format tatap muka sangat membantu untuk itu.
          </p>
          <h2>Materi Ajar</h2>
          <div class="feature-container mt-4 mb-4">
            <div class="feature">
              <div class="row justify-content-start">
                <div class="col-12 col-md-4 mb-1">
                  <div class="row justify-content-start service">
                    <div class="col-12 col-md-12 mb-1">
                      <h4 class="mt-1">1.<br>WHY – Kenapa Bitcoin Diciptakan</h4>
                      <p class="service-excerpt">
                        Dimulai dengan simulasi yang menunjukkan fakta rusaknya sistem moneter global kita saat ini, dan mengapa kondisinya hanya akan semakin memburuk dan runtuh dalam beberapa tahun ke depan. Instrumen investasi konvensional bahkan jadi ikut berisiko.</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-4 mb-1">
                  <div class="row justify-content-start service">
                    <div class="col-12 col-md-12 mb-1">
                      <h4 class="mt-1">2.<br>HOW – Kenapa CUMA Bitcoin Solusi dari Masalah yang Pelik Ini</h4>
                      <p class="service-excerpt">Setelah memahami masalahnya, kami akan menunjukkan secara logis kenapa bitcoin menjadi SATU-SATUNYA solusi yang layak. Penyampaian tetap minim ceramah, dibuat menarik sekaligus membuka wawasan.</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-4 mb-1">
                  <div class="row justify-content-start service">
                    <div class="col-12 col-md-12 mb-1">
                      <h4 class="mt-1">3.<br>WHAT – Langkah Praktis untuk Merdeka Finansial</h4>
                      <p class="service-excerpt">Sesi akan ditutup dengan panduan akumulasi bitcoin berbasis perhitungan yang realistis, agar peserta benar-benar bisa merdeka finansial pada tahun 2035. Termasuk langkah praktis membeli, menjual, dan menyimpan bitcoin.</p>
                    </div>
                  </div>
                </div>
                <p>
                  Dalam dua jam, Anda akan: (1) menyadari bahwa bergantung pada aset konvensional itu belum benar-benar berdaulat secara finansial, (2) bisa melakukan langkah praktis dan masuk akal untuk segera berdaulat secara finansial.
                </p>
                <p class="mb-3">
                  Kita bantu Anda membebaskan diri Anda, keluarga Anda, dan perusahaan Anda.
                </p>
              </div>
              <div class="cta mb-2">
                <div class="call-box-top">
                  <a href="https://wa.me/6289678601060" class="button">Daftar Kelasnya</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>

 <div class="strip-navy">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      <div class="col-12 mb-1">
        <div class="row justify-content-start content">
          <span>...</span>
          <h2>Trainer</h2>
          <div class="feature-container mt-4 mb-4">
            <div class="feature">
              <div class="row justify-content-start">
                <div class="col-12 col-md-4 mb-1">
                    <div class="row justify-content-start service">
                      <div class="col-12 col-md-12 mb-1">
                        <img alt="Ricky Bitcoin Trainer" class="img-fluid" src="{{ "/images/team/trainer-ricky.jpeg" | relative_url }}" />
                        <a href="https://linkedin.com/in/rickysaif" target="blank"><h4 class="mt-1">Ricky Saif</h4></a>
                        <!--<img src="{{ "/images/social/linekdin.svg" | relative_url }}" title="Linkedin Ricky" alt="{{ item.name }}" />-->
                        <p class="service-excerpt">
                          <p class="service-excerpt">Sudah mengajar kaum profesional & pemilik bisnis sejak 2013. Sebelum bitcoin ada sudah tahu masalah uang fiat, tapi baru dengar & beli bitcoin di 2017. Karena belajar mandiri, tidak sadar kalau pemahaman bitcoinnya bolong-bolong. Alhasil, baru mulai rutin akumulasi tahun 2020, saat tahu ada halving dan siklusnya. Sedang membangun gerakan Merdeka Finansial, sehingga tidak ada lagi orang atau perusahaan Indonesia yang telat akumulasi, hanya karena salah belajar seperti dirinya dulu.</p>
                          Tempat training rutin: Kemang.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 mb-1">
                    <div class="row justify-content-start service">
                      <div class="col-12 col-md-12 mb-1">
                        <img alt="Johanes Bitcoin Trainer" class="img-fluid" src="{{ "/images/team/trainer-johanes.jpeg" | relative_url }}" />
                        <a href="https://www.google.com/search?client=ms-android-vivo-rvo2&sca_esv=0ce76fe6310e19b4&hl=in-ID&cs=1&sxsrf=AE3TifOWvzLcEF_Q7eyHfacDfP6prnK7sA:1762480369319&kgmid=/g/11gjhm0n6w&q=JohanesAriffin,CoachDigitalMarketingbersetifikatBNSP&shndl=30&shem=epsdc,lcuae,uaasie,shrtsdl&source=sh/x/loc/uni/m1/1&kgs=d2bfabd764ce999a&utm_source=epsdc,lcuae,uaasie,shrtsdl,sh/x/loc/uni/m1/1#lrd=0x2e69f737384b00f1:0x20632666714e6fe8,1,,,," target="blank"><h4 class="mt-1">Johanes Arifin</h4></a>
                        <p class="service-excerpt">Pecinta edukasi dan dunia usaha, khususnya UMKM. Mengenal Bitcoin sejak 2014 dan mulai mendalaminya serius sejak 2017. Ia memandang Bitcoin bukan sekadar aset, tetapi fondasi sistem keuangan baru yang relevan bagi UMKM. Sebagai penulis dan Business Coach, Johanes aktif membagikan insight tentang Bitcoin, keuangan sehat, dan strategi bisnis untuk membantu UMKM tumbuh secara berkelanjutan.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 mb-1">
                    <div class="row justify-content-start service">
                      <div class="col-12 col-md-12 mb-1">
                        <img alt="Annas Bitcoin Trainer" class="img-fluid" src="{{ "/images/team/trainer-annas.jpeg" | relative_url }}" />
                        <a href="https://www.linkedin.com/in/annasahmad/" target="_blank"><h4 class="mt-1">Annas Ahmad</h4></a>
                        <p class="service-excerpt">Annas Ahmad adalah seorang Bitcoin Educator dan investor visioner dengan pengalaman engineer di Astra group, entrepreneur bisnis online, serta telah mengexplorasi berbagai instrumen investasi seperti saham, emas, properti, dan aset digital. Ia dikenal karena kemampuannya menjelaskan konsep keuangan dan Bitcoin secara sederhana dan relevan. Melalui edukasi dan mentoring, Annas mengajak masyarakat memahami Bitcoin sebagai jalan menuju kemandirian dan kebebasan finansial di era digital.</p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center content">
      <div class="cta mb-2">
        <div class="call-box-top text-center" style="float: none;">
          <a href="https://wa.me/6289678601060" class="button">Daftar Kelasnya</a>
        </div>
      </div>
    </div>
  </div>
</div>


