---
layout: default
bodyClass: "page-home"
---


<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-lg-7 m-auto">
        {{ content }}
        <div class="cta mb-2">
          <div class="call-box-top">
            <a href="https://goers.co/merdeka2" class="button">Daftar Training</a>
          </div>
        </div>
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-lg-5 position-relative m-auto">
        <div class="ratio ratio-16x9">
          <iframe src="https://www.youtube.com/embed/4gIFunGjZH4?controls=0&amp;cc_load_policy=1&amp;rel=0&amp;modestbranding=1&amp;showinfo=0" allowfullscreen></iframe>
        </div>
        
      </div>
      {% endif %}
    </div>
  </div>
</div>


