---
layout: default
bodyClass: "page-home"
---


<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-lg-7 m-auto">
        {{ content }}
        <div class="cta mb-2">
          <div class="call-box-top">
            <a href="https://wa.me/6289678601060" class="button">Daftar Training</a>
          </div>
        </div>
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-lg-5 position-relative m-auto">
        <div class="ratio ratio-16x9">
          <iframe src="https://www.youtube.com/embed/4gIFunGjZH4?controls=0&amp;cc_load_policy=1&amp;rel=0&amp;modestbranding=1&amp;showinfo=0" allowfullscreen></iframe>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="strip-navy-dark">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row content justify-content-start">
      <div class="col-12 mb-1">
          <span>...</span>
          <h2>Galeri Foto Kegiatan</h2>
          <div class="row justify-content-start">
              <div class="image-gallery col-12 col-md-4 mb-1">
                <img alt="training snapshot" class="img-fluid" src="{{ "/images/training/merdeka2-1.jpeg" | relative_url }}" />
              </div>
              <div class="image-gallery col-12 col-md-4 mb-1">
                <img alt="training snapshot" class="img-fluid" src="{{ "/images/training/ricky-merdeka1-1.jpeg" | relative_url }}" />
              </div>
              <div class="image-gallery col-12 col-md-4 mb-1">
                <img alt="training snapshot" class="img-fluid" src="{{ "/images/training/ricky-merdeka1-2.jpeg" | relative_url }}" />
              </div>
              <div class="image-gallery col-12 col-md-4 mb-1">
                <img alt="training snapshot" class="img-fluid" src="{{ "/images/training/ricky-cbt-1.jpeg" | relative_url }}" />
              </div>
              <div class="image-gallery col-12 col-md-4 mb-1">
                <img alt="training snapshot" class="img-fluid" src="{{ "/images/training/ricky-cbt-2.jpeg" | relative_url }}" />
              </div>
              <div class="image-gallery col-12 col-md-4 mb-1">
                <img alt="training snapshot" class="img-fluid" src="{{ "/images/training/ricky-cbt-3.jpeg" | relative_url }}" />
              </div>
          </div>
          <div class="cta mb-4">
            <div class="call-box-top">
              <a href="https://wa.me/6289678601060" class="button">Daftar Training</a>
            </div>
          </div>
      </div>
    </div>
  </div>
 </div>

 <div class="strip-navy">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      <div class="col-12 mb-1">
        <div class="row justify-content-start content">
          <span>...</span>
          <h2>Trainer</h2>
          <div class="feature-container mt-4 mb-4">
            <div class="feature">
              <div class="row justify-content-start">
                <div class="col-12 col-md-4 mb-1">
                    <div class="row justify-content-start service">
                      <div class="col-12 col-md-12 mb-1">
                        <img alt="Ricky Bitcoin Trainer" class="img-fluid" src="{{ "/images/team/trainer-ricky.jpeg" | relative_url }}" />
                        <a href="https://linkedin.com/in/rickysaif" target="blank"><h4 class="mt-1">Ricky Saif</h4></a>
                        <!--<img src="{{ "/images/social/linekdin.svg" | relative_url }}" title="Linkedin Ricky" alt="{{ item.name }}" />-->
                        <p class="service-excerpt">
                          <p class="service-excerpt">Sudah mengajar kaum profesional & pemilik bisnis sejak 2013. Sebelum bitcoin ada sudah tahu masalah uang fiat, tapi baru dengar & beli bitcoin di 2017. Karena belajar mandiri, tidak sadar kalau pemahaman bitcoinnya bolong-bolong. Alhasil, baru mulai rutin akumulasi tahun 2020, saat tahu ada halving dan siklusnya. Sedang membangun institusi pendidikan profesional terkait bitcoin, sehingga tidak ada lagi orang atau perusahaan Indonesia yang telat akumulasi, hanya karena salah belajar seperti dirinya dulu.</p>
                          Tempat training rutin: TB Simatupang & Cikini
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 mb-1">
                    <div class="row justify-content-start service">
                      <div class="col-12 col-md-12 mb-1">
                        <img alt="Johanes Bitcoin Trainer" class="img-fluid" src="{{ "/images/team/trainer-johanes.jpeg" | relative_url }}" />
                        <a href="https://www.google.com/search?client=ms-android-vivo-rvo2&sca_esv=0ce76fe6310e19b4&hl=in-ID&cs=1&sxsrf=AE3TifOWvzLcEF_Q7eyHfacDfP6prnK7sA:1762480369319&kgmid=/g/11gjhm0n6w&q=JohanesAriffin,CoachDigitalMarketingbersetifikatBNSP&shndl=30&shem=epsdc,lcuae,uaasie,shrtsdl&source=sh/x/loc/uni/m1/1&kgs=d2bfabd764ce999a&utm_source=epsdc,lcuae,uaasie,shrtsdl,sh/x/loc/uni/m1/1#lrd=0x2e69f737384b00f1:0x20632666714e6fe8,1,,,," target="blank"><h4 class="mt-1">Johanes Arifin</h4></a>
                        <p class="service-excerpt">Pecinta edukasi dan dunia usaha, khususnya UMKM. Mengenal Bitcoin sejak 2014 dan mulai mendalaminya serius sejak 2017. Ia memandang Bitcoin bukan sekadar aset, tetapi fondasi sistem keuangan baru yang relevan bagi UMKM. Sebagai penulis dan Business Coach, Johanes aktif membagikan insight tentang Bitcoin, keuangan sehat, dan strategi bisnis untuk membantu UMKM tumbuh secara berkelanjutan.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4 mb-1">
                    <div class="row justify-content-start service">
                      <div class="col-12 col-md-12 mb-1">
                        <img alt="Annas Bitcoin Trainer" class="img-fluid" src="{{ "/images/team/trainer-annas.jpeg" | relative_url }}" />
                        <a href="https://www.linkedin.com/in/annasahmad/" target="_blank"><h4 class="mt-1">Annas Ahmad</h4></a>
                        <p class="service-excerpt">Annas Ahmad adalah seorang Bitcoin Educator dan investor visioner dengan pengalaman engineer di Astra group, entrepreneur bisnis online, serta telah mengexplorasi berbagai instrumen investasi seperti saham, emas, properti, dan aset digital. Ia dikenal karena kemampuannya menjelaskan konsep keuangan dan Bitcoin secara sederhana dan relevan. Melalui edukasi dan mentoring, Annas mengajak masyarakat memahami Bitcoin sebagai jalan menuju kemandirian dan kebebasan finansial di era digital.</p>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="cta mb-2">
                <div class="call-box-top">
                  <a href="https://wa.me/6289678601060" class="button">Daftar Training</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


